{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="container mt-5">

    <!-- Daily Menu -->
    <h3 class="display-3 menu-titles">Daily Menu</h3>
    <div class="container-fluid" id="menu-container">
        <div class="row">
            <!-- Mains -->
            <div class="col col-md-6 col-sm-12 mb-4">
                <h3>Mains</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="display-6">The Dogfather</th>
                            <td>The finest, imported bratwurst sausage from the foothills of the Bavarian Alps.
                                Topped with hot German mustard and organic ketchup.</td>
                            <td class="display-6">£9</td>
                        </tr>
                        <tr>
                            <th scope="row" class="display-6">Dog of the Week</th>
                            <td>See specials board for details or ask your server.</td>
                            <td class="display-6">£11</td>
                        </tr>
                        <tr>
                            <th scope="row" class="display-6">Meat? Nah, dawg (v)</th>
                            <td>A mouth-watering tofudog, spiced and grilled to perfection with your choice of
                                toppings.</td>
                            <td class="display-6">£7.50</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Sides -->
            <div class="col col-md-6 col-sm-12 mb-4">
                <h3>Sides</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="display-6">Nachos</th>
                            <td>A melted mountain of corn tortilla chips, jalapeño peppers,
                                red peppers, onions, sour cream and cheese.</td>
                            <td class="display-6">£5</td>
                        </tr>
                        <tr>
                            <th scope="row" class="display-6">Fries</th>
                            <td>Crispy golden fries, dusted to perfection with our spiced salt mix.</td>
                            <td class="display-6">£3.50</td>
                        </tr>
                        <tr>
                            <th scope="row" class="display-6">Mixed Salad</th>
                            <td>A healthy, delicious alternative featuring heirloom tomatoes, red onion,
                                cucumber and a verdant mix of lettuces.</td>
                            <td class="display-6">£3.50</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Reviews -->
    <section class="reviews mt-5">
        <h3 class="display-3 menu-titles">Reviews!</h3>

        <div class="row">
            <div class="col-12 mb-4">
                <img src="{% static 'booking_system_app/images/pexels-godisable-jacob-226636-718978.webp' %}"
                    alt="An image of a woman in a red top facing the camera side-on" class="img-fluid review-image">
                <p class="reviews">"I booked The Wurst of Times for a friend's birthday and they blew us out of the
                    water with their incredible food and service! I cannot recommend them enough!"<br>
                    <strong>- Alysia P.</strong>
                </p>
            </div>
            <div class="col-12 mb-4">
                <img src="{% static 'booking_system_app/images/pexels-olly-846741.webp' %}"
                    alt="An image of a smiling man in a red jumper against a blue wall" class="img-fluid review-image">
                <p class="reviews">"My buddies and I love The Wurst of Times. Best hotdogs in the city!"<br>
                    <strong>- Mark M.</strong>
                </p>
            </div>
            <div class="col-12 mb-4">
                <img src="{% static 'booking_system_app/images/pexels-olly-788567.webp' %}"
                    alt="An image of an older woman, with a sunhat and a pearl necklace, looking up to the right"
                    class="img-fluid review-image">
                <p class="reviews">"I visited the restaurant for my grandson's birthday and we loved all the
                    available toppings!"<br>
                    <strong>- Margaret L.</strong>
                </p>
            </div>
        </div>
    </section>

</main>
{% endblock %}